<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pe_fedorento"
        tools:targetApi="31">
        <activity
            android:name=".Produto.ViewProduto.TelaProdutoMostrar"
            android:exported="false"
            android:label="@string/title_activity_tela_produto_mostrar"
            android:theme="@style/Theme.Pe_fedorento" />
        <activity
            android:name=".Produto.ViewProduto.TelaInserirProduto"
            android:exported="false"
            android:label="@string/title_activity_tela_inserir_produto"
            android:theme="@style/Theme.Pe_fedorento" />
        <activity
            android:name=".Produto.ViewProduto.TelaProduto"
            android:exported="false"
            android:label="@string/title_activity_tela_produto"
            android:theme="@style/Theme.Pe_fedorento" />

        <activity
            android:name=".Produto.ViewProduto.TelaProdutoAtualiza"
            android:exported="false"
            android:label="@string/title_activity_tela_produto"
            android:theme="@style/Theme.Pe_fedorento" />

        <activity
            android:name=".Cliente.ViewCliente.TelaCliente"
            android:exported="false" />
        <activity
            android:name=".Cliente.ViewCliente.TelaClienteUpdate"
            android:exported="false" />
        <activity
            android:name=".Cliente.ViewCliente.TelaClienteInserir"
            android:exported="false" />
        <activity
            android:name=".Cliente.ViewCliente.TelaClienteMostrar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Pe_fedorento">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>